.topnav {
    background-color: #237573;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.topnav h1 {
    float: inline-start;
    text-align: center;
    padding-left: 1%;
    font-size: 190%;
}

.topnav a {
    float: right;
    color: #dff8f9;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 150%;
    margin: .5%;
    margin-left: .1%;
}

.topnav a:hover {
    background-color: #3b46d9;
    color: #dff8f9;
}

.topnav a.active {
    background-color: #1c3f90;
    color: #dff8f9;
}

.lab {
    background-color: #1c3f90;
    text-align: center;
    width: 15%;
    padding-top: .5%;
    padding-bottom: .5%;
    margin-top: 8%;
    margin-left: 2%;
}

.sort {
    background-color: #1c3f90;
    text-align: center;
    width: 15%;
    padding-top: .25%;
    padding-bottom: .25%;
    margin-left: 2%;
    
}

.circle {
    background-color: #1c3f90;
    text-align: center;
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
}



body {
    background-color: #041313;
    color: #dff8f9;
}