.topnav {
    background-color: #237573;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.topnav h1 {
    float: inline-start;
    text-align: center;
    padding-left: 1vw;
    font-size: 5vmin;
}

.topnav a {
    float: right;
    color: #dff8f9;
    border:#041313 dashed 2px;
    text-align: center;
    padding: 2vh 3vw;
    text-decoration: none;
    font-size: 3vmin;
    margin: 1.5vh .5vw;
    margin-left: .1vh;
}

.topnav a:hover {
    background-color: #3b46d9;
    color: #dff8f9;
}

.topnav a.active {
    background-color: #1c3f90;
    color: #dff8f9;
    border:#041313 solid 2px;
}

.lab {
    font-size: 5vmin;
    background-color: #1c3f90;
    text-align: center;
    width: 15vw;
    padding: .5vh 0;
    margin-left: 2vw;
}

.sort {
    font-size: 2vmin;
    background-color: #1c3f90;
    text-align: center;
    width: 15vw;
    padding: .25vh 0;
    margin-left: 2vw;
    
}

.circle {
    font-size: 4vmin;
    background-color: #1c3f90;
    text-align: center;
    width: 15vw;
    padding: 1vh 0;
    margin-left: 2vw;
}

.spell {
    font-size: 3vmin;
    background-color: #1c3f90;
    text-align: center;
    width: 15vw;
    padding: 2vh 0;
    margin-left: 2vw;
    
}

.grid-container {
    margin-top: 15vh;
    display: grid;
    grid-template-rows: 10vh 6vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-columns: 40vw 18vw 18vw 18vw;
    grid-gap: 0;
    align-items: center;
}



body {
    background-color: #041313;
    color: #dff8f9;
}